

<%= link_to "Logout", destroy_user_session_path , :method => :delete%>
<%- model_class = Bug -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:resolve) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%= model_class.human_attribute_name("Assign") %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <%#= binding.pry%>
  <% if current_user.designation==="Admin" %>
    <% @bugs.each do |bug| %>
      <tr>
        <td><%= link_to bug.id, bug_path(bug) %></td>
        <td><%= bug.name %></td>
        <td><%= bug.description %></td>
        <td>
          <%if bug.resolve%>
            <%="Yes"%>
          <%else%>
            <%="No"%>
          <%end%>    
        </td>
        <td><%=l bug.created_at %></td>
        <%#= binding.pry%>
        <%@user=User.find(bug.assign.user_id) rescue nil%>
        <% if @user %>
          <td><%=@user.fname%>&nbsp;<%=@user.lname%>         
          <td>
        <%else%>  
          <td><%= "Not yet"%>         
          <td>
        <%end%>  
          <%=link_to t('AssignTo', :default => t("helpers.links.AssignTo")),
                      bug_path(bug), :class => 'btn btn-mini'%>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_bug_path(bug), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      bug_path(bug),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  <%else%>  
    <% @assign.each do |assign| %>
    <%bug=Bug.find(assign.bug_id)%>
      <tr>
        <td><%= link_to bug.id, bug_path(bug) %></td>
        <td><%= bug.name %></td>
        <td><%= bug.description %></td>
        <td>
          <%if bug.resolve%>
            <%="Yes"%>
          <%else%>
            <%="No"%>
          <%end%>    
        </td>
        <td><%=l bug.created_at %></td>
        <%#= binding.pry%>
        <%@user=User.find(bug.assign.user_id) rescue nil%>
        <% if @user %>
          <td><%=@user.fname%>&nbsp;<%=@user.lname%>         
          <td>
        <%else%>  
          <td><%= "Not yet"%>         
          <td>
        <%end%>  
          <%=link_to t('AssignTo', :default => t("helpers.links.AssignTo")),
                      bug_path(bug), :class => 'btn btn-mini'%>
          
        </td>
      </tr>
    <%end%> 
  <%end%> 
  </tbody>
</table>

<% if current_user.designation==="Admin" %>
  <%= link_to t('.new', :default => t("helpers.links.new")),
            new_bug_path,
            :class => 'btn btn-primary' %>
<%end%>            
