<%- model_class = Bug -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @bug.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @bug.description %></dd>
  <!-- <dt><strong><%#= model_class.human_attribute_name(:user_id) %>:</strong></dt> -->
  <!-- <dd><%#= @bug.user_id %></dd> -->
  <dt><strong><%= model_class.human_attribute_name(:resolve) %>:</strong></dt>
  <dd><%= @bug.resolve %></dd>
  <dt><strong><%= model_class.human_attribute_name("Assign TO") %>:</strong></dt>
  <%@user=User.where(:designation=>"Employee")%>
  <dd><%= select("user_id", "user", @user.collect {|p| [ p.fname, p.id ] },:prompt=>'Looking for')  %></dd>
  <%#= select_tag(:option, options_for_select([['All', 1], ['Co', 2], ['Bought', 3], ['View', 4], ['Top API', 5]], selected: :option )) %>
  <dd id="errorMsg" class="errorMSGforcntno" style="color:red;"></dd>


</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              bugs_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_bug_path(@bug), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              bug_path(@bug),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>


<script type="text/javascript">

  $('#user_id_user').change(function(){

    // var data={
    //   "data": imgNum,
    //   "exp":<%=@experience.id rescue 0%>
    // }

  var data ={"user":  $("#user_id_user").val(),
             "bug":  <%=@bug.id%>}; 
  $.ajax({ 
  url: '/assignbug/assignto', 
  type: 'post',
  data: data,
  success: function(data,event,xhr) {        
  //window.location.href = '<%#=@location%>';
  $(".errorMSGforcntno").html('Bug successfully Assigned.');
  }
  });
  }); 

</script>


